<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You Found Arlo!</title>
	<meta name="description" content="Found Arlo">
	<meta name="author" content="Evan Schallerer">
	<link rel="stylesheet" href="css/index.css?v=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>

<body>
	<div id="app">
		<template v-if="json">
			<header class="header">
				<h1>You Found {{json.petInfo.name}}!</h1>
			</header>
			<div id="owner-info" class="info">
				<h2>Owner Information</h2>
				<span>{{json.contactInfo.humanName}}</span>
				<span>{{json.contactInfo.phoneNumber}}</span>
				<span>{{json.contactInfo.emailAddress}}</span>
				<span>
					<span>{{json.contactInfo.addressLine1}}</span>
					<span>
						<template v-if="json.contactInfo.addressLine2"{{json.contactInfo.addressLine2}}>
							{{json.contactInfo.addressLine2}} 
						</template>
					</span>	
					<span>{{json.contactInfo.city}}, {{json.contactInfo.state}} {{json.contactInfo.zipCode}}</span>
				</span>
				<a :href="buildGoogleMapsLink()">
					<img src="../assets/icons/directions_black_24dp.svg"/>
				</a>
			</div>

			<div id="pet-info" class="info">
				<h2>Pet Information</h2>
				<span>{{json.petInfo.name}}</span>
				<span>{{json.petInfo.weight}}</span>
				<span>{{json.petInfo.description}}</span>
			</div>

			<div id="pet-images" v-if="json.petInfo.petImages" class="images-container">
				<h3>Images of {{json.petInfo.name}}</h3>
				<div class="images">
					<div v-for="image of json.petInfo.petImages" class="image-container">
							<img :src="'../assets/petImages/' + image.path" class="image">
								<figcaption v-if="image.description">{{image.description}}</figcaption>
							</img>
					</div>
				</div>
			</div>
			
			<div id="document-images" v-if="json.petInfo.documentImages" class="images-container">
				<h3>Documents</h3>
				<div class="images">
					<div v-for="image of json.petInfo.documentImages" class="image-container">
						<img :src="'../assets/documentImages/' + image.path" class="image">
							<figcaption v-if="image.description">{{image.description}}</figcaption>
						</img>
					</div>
				</div>
			</div>
		</template>
	</div>
	<script src="js/index.js"></script>
</body>

</html>